.catalog {
  margin: 0 30px;

  &__wrapper {
    margin-bottom: 30px;
  }

  &__image {

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item {
    padding: 30px 9%;
    border: 1px solid #ececec;
  }

  &__caption {
    margin-bottom: 10px;
    font-size: 17px;
  }

  &__desc {
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 30px;
    color: #444444;
    border-bottom: 1px solid #ececec;
  }

  &__price {
    font-weight: 700;
  }
}
