.contacts {
  padding: 0 30px;
  margin-bottom: 40px;

  &__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  &__table {
    line-height: 30px;
    color: #444444;
  }

  &__row-1 {
    width: 20%;
    outline: 1px solid black;
  }
}
