.form {
  margin: 0 9%;
  font-size: 17px;
  font-weight: 700;

  &__type, &__color, &__login {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #63d1bb;
  }

  &__caption {
    text-transform: uppercase;
    color: #63d1bb;
  }

  &__list {
    @include list-clear;
  }

  &__item {
    position: relative;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18%;


    input[type="radio"] + label:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
      border-radius: 50%;
    }

    input[type="radio"]:checked + label:after {
      content: "";
      position: absolute;
      top: 14px;
      left: 14px;
      width: 16px;
      height: 16px;
      background-color: #62d1ba;
      border-radius: 50%;
    }

    input[type="checkbox"] + label:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
    }

    input[type="checkbox"]:checked + label:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../img/icon-tick.svg) no-repeat 3% 50%;
    }
  }

  &__login-name, &__login-surname, &__login-middlename, &__phone, &__email {
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
  }

  &__view {
    @include form-input;
  }

  &__info {
    margin-bottom: 20px;
  }

  &__desc {
    width: 100%;
    min-height: 140px;
    border: 2px solid #000000;
  }

  &__text {
    width: 85%;
    min-height: 100px;
    padding: 15px;
    font-size: 17px;
    font-weight: 200;
    color: #444444;
    border: none;
    outline: none;
    opacity: 0.5;
  }

  &__besure {
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    color: #444444;
  }

  &__btn {
    margin-top: 30px;
    margin-bottom: 55px;
    @include base-btn;
  }
}
