.product {
  padding: 0 6%;
  padding-bottom: 35px;
  border-bottom: 2px solid #ececec;

  &__title {
    font-size: 25px;
    line-height: 30px;
  }

  &__hit {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__desc {
    margin-bottom: 20px;
    color: #444444;
  }

  &__table {
    width: 100%;
    margin-bottom: 30px;
    color: #444444;
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid #ececec;
    }

    td {
      padding: 5px 0;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__price {
    padding: 25px 0;
    font-size: 17px;
    font-weight: 700;
    color: #444444;
    text-align: center;
  }

  &__btn {
    @include base-btn;
  }
}
@media (min-width: 768px) {
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;

    &__title {
      width: 75%;
      margin-bottom: 55px;
      font-size: 43px;
      line-height: 50px;
    }

    &__hit {
      width: 15%;
      margin: 0;
      padding-right: 10px;
      text-align: center;
    }

    &__wrapper {
      width: 43%;
    }

    &__img {
      width: 50%;
    }

    &__block {
      width: 43%;
      margin-top: -130px;
    }
  }
}
