.reviews {
  padding: 0 6%;
  margin-bottom: 40px;

  &__title {
    margin-bottom: 35px;
    font-size: 25px;
    line-height: 30px;
  }

  &__list {
    line-height: 30px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__author {
    font-size: 17px;
    margin-bottom: 35px;
  }

  &__author-color {
    color: #444444;
  }

  &__arrows {
    position: relative;
    margin-bottom: 35px;
    min-height: 50px;
    outline: 1px solid #ececec;
    cursor: pointer;

    &::before, &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 50px;
    }

    &::before {
      background: url(../../img/icon-left-arrow.svg) no-repeat 50% 50%;
      border-right: 1px solid #ececec;
    }

    &::after {
      background: url(../../img/icon-right-arrow.svg) no-repeat 50% 50%;
      transform: translateX(100%);
    }
  }

  &__btn {
    @include base-btn;
  }
}
@media (min-width: 768px) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    padding-top: 70px;
    background: url(../../img/review@1x.jpg) no-repeat 0 50%;

    &__title {
      width: 50%;
      margin-right: 25%;
      margin-bottom: 0;
      font-size: 43px;
      line-height: 50px;
      order: 1;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      order: 3;
    }

    &__text {
      width: 100%;
      margin-bottom: 55px;
    }

    &__author {
      width: 50%;
      margin-right: 25%;
    }

    &__arrows {
      width: 25%;
      outline: none;

      &::before, &::after {
        border: none;
      }
    }

    &__btn {
      width: 25%;
      order: 2;
    }
  }
}
