.video {
  margin: 0 9%;
  margin-bottom: 60px;

  &__title {
    padding: 24px 0;
    padding-left: 28%;
    font-size: 17px;
    border: 1px solid #ececec;
  }

  &__image {

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__desc {
    padding: 30px 10%;
    border: 1px solid #ececec;;
  }

  &__info {
    margin-bottom: 25px;
    font-size: 13px;
    color: #444444;
  }

  &__btn {
    @include base-btn;
  }
}
